@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

.topnav a
{
  text-decoration: none;
  float: right;
  padding: 25px 45px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition:1s;
  color: #ffbe00;
}

.topnav a:hover
{
    text-shadow: 0px 1px 13px rgba(255,190,0,1);
}

.topnav .icon
{
    padding: 20px 45px;
    font-size: 30px;

}

h1
{
  padding-top: 5%;
  color: rgb(255,190,0,1);
  font-family: 'Lato', sans-serif;
    
}

h1
{

 display: flex;
 justify-content: center;
 margin: 5rem 0 5rem 0 ;
 font-size: 40px;
 font-family: 'Lato', sans-serif;
 
}

html,body
{
    width: 100%;
}

.cards
{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 30px;
    padding: 10px;

}

.card
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
    box-shadow: 6px 6px 10px #0000006b;
    font-family: 'Lato', sans-serif;
}

.card .user
{
  width: 100px;
  height:100px;
  border-radius: 50%;
  margin-bottom: 15px;

}

body
{
    background-color: rgb(241, 241, 241);

}


.card .user
{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;

}

p
{
    margin-top: 20px;
    text-align: center;
    font-family: 'l';
    font-size: 18px;
    font-family: 'Lato', sans-serif;

}



